/*Imports*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto&display=swap');*/

/*font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/

.container{
    margin-left: 13.4rem;
    margin-right: 13.4rem;
}

.logo{
    display: flex;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: 10px;
    border-color: black;
}

.navbar-items{
    display: flex;
    justify-content: space-evenly;
    margin-left: 2rem;
}